@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Kalam&family=Lato:ital,wght@0,700;0,900;1,400&family=Nanum+Gothic&family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../imgs/leaderbd.jpg);
  background-size: cover;
  /* background-image: linear-gradient(to bottom right, #1c47ac, #172e62); */
  height: 100vh;
  background-repeat: no-repeat;
}

li {
  list-style: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.app-title {
  padding: 100px 0 0 500px;
  font-size: 30px;
  text-transform: uppercase;
  /* font-family: 'Poppins', sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  line-height: 52px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.623);
  letter-spacing: 0.5px;
  font-weight: 700;
  background: -webkit-linear-gradient(#68aae6, #7eddd1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-title::after {
  /* content: ''; */
  position: absolute;
  top: 95px;
  left: 640px;
  /* right: 0; */
  bottom: 0;
  width: 300px;
  height: 60px;
  background-color: transparent;
  border: 5px solid #68aae6;
  border-radius: 20px;
}

.details {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.scoresheets {
  width: 500px;
  border: 5px solid #68aae6;
  border-radius: 30px;
}

.container {
  /* display: flex; */
}

.scoresheet-details {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  line-height: 42px;
  color: #7eddd1;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.623);
  letter-spacing: 0.5px;
  font-weight: 700;
  margin-top: -20px;
  margin: -30px 0 0 140px;
  position: absolute;

  background-color: #0b1124;

  border: 5px solid #68aae6;
  border-radius: 20px;
  padding: 5px;
}
/* 
.scoresheet-details::before {
  content: '';
  position: absolute;
  top: 190px;
  left: -100px;
  right: 0;
  bottom: 0;
  width: 215px;
  height: 50px;
  background-color: #0b1124;
  border: 3px solid #68aae6;
  border-radius: 20px;
  z-index: -999;
} */

.btn-ref {
  margin: 10px 0 0 370px;
  background-color: #68aae6;
  color: #0b1124;
  font-size: 20px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 15px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.623);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.btn-ref:hover {
  background-color: #86b9e9;
  color: #0b1124;
}

.score-dashboard {
  margin-top: 10px;
}

.scores {
  /* border: 6px solid #3e3e3e; */
}

.lists {
  display: flex;
  font-family: 'Poppins', sans-serif;
  padding: 5px 0 5px 10px;
  font-size: 16px;
}

.lists:nth-child(even) {
  background-color: #3e3e3e;
  color: #fff;
}

.scores-no {
  margin-left: 20px;
}

.input-records {
  width: 400px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.input-heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  line-height: 42px;
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.623); */
  letter-spacing: 0.5px;
  font-weight: 700;
  background: -webkit-linear-gradient(#68aae6, #7eddd1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 5px solid #68aae6;
}

input {
  width: 100%;
  padding: 5px 0;
}

.btn-submit {
  padding: 5px 20px;
  margin-top: 10px;
}
